@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: white;
}

.about-container {
  padding: 20px;
}

.about-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
}

.about-header-left {
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
}

.about-content {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.about-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-intro {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {
  width: 500px;
  margin: 20px 0;
}

h2 {
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.experiences {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.experience-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  max-width: 2000px;
  margin: 0 auto;
}

.experience-card {
  padding: 20px;
  text-align: left;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.experience-year {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: #aaa;
}

.experience-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.experience-card h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

.experience-card p {
  font-size: 16px;
  color: grey;
}

.experience-role {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.education {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.education-list {
  margin-top: 20px;
}

.education-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.education-details {
  flex-grow: 1;
}

.education-details h3 {
  font-size: 30px;
  margin-bottom: 5px;
  text-align: left;
}

.education-details p {
  font-size: 14px;
  color: #aaa;
  margin: 0;
  text-align: left;
}

.education-year {
  font-size: 14px;
  color: white;
  margin-left: auto;
  text-align: right;
}

.education-divider {
  border: none;
  border-top: 1px solid #333;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .experience-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .experience-card {
    text-align: center;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
  }

  .experience-year {
    font-size: 14px;
    margin-top: 10px;
    position: relative;
    top: auto;
    right: auto;
  }

  .experience-card img {
    margin-bottom: 10px;
  }

  .experience-card h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .experience-card p {
    font-size: 14px;
  }

  .experience-role {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .education-list {
    margin-top: 10px;
  }

  .education-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .education-details h3 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .education-details p {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .education-year {
    font-size: 12px;
    margin-left: auto;
    text-align: center;
    margin-top: 5px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .about-intro {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .about-container {
    padding: 10px;
  }

  .about-content {
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
  }

  .experiences, .education {
    margin-left: 20px;
    margin-right: 20px;
  }

  .experience-grid p {
    font-size: 15px;
  }
}